.MMM-APOD {
    line-height:1.1em;
  }
  
.MMM-APOD .module-content {
}  

.MMM-APOD .title {
 font-size: larger;
 font-weight: bold;
}

.MMM-APOD .image {
  margin-right:1em;
  float:left;
  max-width:50vw;
  max-height:150vh;
}

.MMM-APOD .copyright {
  font-size:smaller;
}

.MMM-APOD .description {
  margin: auto;
  text-align: -webkit-left;
}
